<app-alert-detail [showButton]="true" [selectedAlert]="selectedAlert" (actionEvent)="refreshTable()"></app-alert-detail>
<div class="mat-elevation-z8 left-right-margin">
	<mat-form-field floatLabel="never">
	    <input matInput [(ngModel)]="searchKey" placeholder="Search"
	    autocomplete="off" (keyup)="applyFilter()">
	    <button mat-button matSuffix mat-icon-button aria-label="Clear"
	    *ngIf="searchKey" (click)="onSearchClear()">
		<mat-icon>close</mat-icon>
	    </button>
	</mat-form-field>
	<mat-form-field class="spacing">
	    <mat-label>Search Categories</mat-label>
	    <mat-select [(ngModel)]="categorySelected"
	    (openedChange)="changeCategory()">
		<mat-option>None</mat-option>
		<mat-option value="alertid">Id</mat-option>
		<mat-option value="alertdate">Date</mat-option>
		<mat-option value="alerttime">Time</mat-option>
		<mat-option value="description">Description</mat-option>
	    </mat-select>
	</mat-form-field>
    </div>
<div class="mat-elevation-z8 left-right-margin">
	<mat-table [dataSource]="alertlist" matSort matSortActive="keyid"
	matSortDirection="asc"> 
	    <ng-container matColumnDef="issueid">
		<!-- columndef have to be insde the displayd column -->
		<mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
		<mat-cell *matCellDef="let element">{{element.alertid}}</mat-cell>
	    </ng-container>
	    <ng-container matColumnDef="issuedate">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
		<mat-cell *matCellDef="let element">{{element.alertdate}}</mat-cell>
	    </ng-container>
	    <ng-container matColumnDef="issuetime"> 
		 <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
		<mat-cell *matCellDef="let element">{{element.alerttime}}</mat-cell>
	    </ng-container>
	    <ng-container matColumnDef="description"> 
		 <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
		<mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
	    </ng-container>
	    <ng-container matColumnDef="action">
		<mat-header-cell *matHeaderCellDef></mat-header-cell>
		<mat-cell *matCellDef="let element">
			<mat-button class="pointer" mat-icon-button color="warn" (click)="approveAlert(element)"><mat-icon>check</mat-icon>Check</mat-button>
			<mat-button class="pointer" mat-icon-button color="warn" (click)="deleteAlert(element)"><mat-icon>clear</mat-icon>Delete</mat-button>
		</mat-cell>
	    </ng-container>
	    <ng-container matColumnDef="loading">
		<mat-footer-cell *matFooterCellDef colspan="4">
		    Loading data....
		</mat-footer-cell>
	    </ng-container>
	    <ng-container matColumnDef="noData">
		<mat-footer-cell *matFooterCellDef colspan="4">
		    No Data
		</mat-footer-cell>
	    </ng-container>
	    <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
	    <mat-row (click)="onSelect(row)"  matRipple *matRowDef="let row; columns: displayedColumn;"></mat-row>
	    <mat-footer-row *matFooterRowDef="['loading']" 
	    [ngClass]="{'hide': alertlist != null}"></mat-footer-row>
	    <mat-footer-row *matFooterRowDef="['noData']"
	    [ngClass]="{'hide': !(alertlist != null && alertlist.data.length == 0)}"></mat-footer-row>
	</mat-table>
	<mat-paginator [pageSizeOptions]="[5, 10, 25]" pageSize="5" showFirstLastButtons></mat-paginator>
    </div>