<div class="dash-container">
    <div class="card-container">
        <mat-card class="info-card">
            <mat-card-content>
                <h1>RESIDENTS</h1>
                <p>23</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="info-card">
            <mat-card-content>
                <h1>KEYS</h1>
                <p>25</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="info-card">
            <mat-card-content>
                <h1>HOUSES</h1>
                <p>27</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="info-card">
            <mat-card-content>
                <h1>UNAPPROVED</h1>
                <p>10</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="info-card">
            <mat-card-content>
                <h1>ALERTS</h1>
                <p>25</p>
            </mat-card-content> 
        </mat-card>
    </div>
    <!-- Include latest visit and latest alert here -->
    <div class="expand-tray">
        <div class="card-tray">
            <mat-card class="my-card">
                <div class="left-card">
                    <mat-card-title class="title">Latest Alert</mat-card-title>
                    <img class="card-image" src="../../assets/andrew.jpg">
                </div>
                <div class="right-card">
                    <mat-card-content>Date Time and Description</mat-card-content>
                    <mat-card-actions>
                        <button class="detailBtn" mat-button>Detail</button>
                    </mat-card-actions>
                </div>
            </mat-card>
            <mat-card class="my-card">
                <div class="left-card">
                    <mat-card-title class="title">Latest Entry</mat-card-title>
                    <img class="card-image" src="../../assets/andrew.jpg">
                </div>
                <div class="right-card">
                    <mat-card-content>Date Time and Description</mat-card-content>
                    <mat-card-actions>
                        <button class="detailBtn" mat-button>Detail</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
</div>
