<div class="dash-container">
    <div class="card-container">
        <mat-card class="info-card">
            <mat-card-content>
                <h1>PENDING RESIDENTS</h1>
                <p>{{noOfResidentUnapproved}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="info-card">
            <mat-card-content>
                <h1>UNREVIEWED ALERT</h1>
                <p>{{noOfAlertUnreviewed}}</p>
            </mat-card-content> 
        </mat-card>
    </div>
    <!-- Include latest visit and latest alert here -->
    <div class="expand-tray">
        <div class="card-tray">
            <mat-card class="my-card">
                <div class="left-card">
                    <mat-card-title class="title">Latest Alert</mat-card-title>
                    <img class="card-image" [src]="alertUrl">
                </div>
                <div class="right-card">
                    <mat-card-content>
                        <h3>ALERTID : {{latestAlert?.alertid}}</h3>
                        <h3>DATE:{{latestAlert?.alertdate}}</h3>
                        <h3>TIME:{{latestAlert?.alerttime}}</h3>
                        <h3>{{latestAlert?.description}}</h3>
                    </mat-card-content>
                </div>
            </mat-card>
            <mat-card class="my-card">
                <div class="left-card">
                    <mat-card-title class="title">Latest Entry</mat-card-title>
                    <img class="card-image" [src]="entryUrl">
                </div>
                <div class="right-card">
                    <mat-card-content>
                        <h3>ID  :{{latestEntry?.entryid}}</h3>
                        <h3>Resident: {{latestEntry?.name}}</h3>
                        <h3>DATE:{{latestEntry?.entrydate}}</h3>
                        <h3>TIME:{{latestEntry?.entrytime}}</h3>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
</div>
