<div class="dash-container">
    <div class="card-container">
        <mat-card class="info-card">
            <mat-card-content>
                <h1>PENDING RESIDENTS</h1>
                <p>10</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="info-card">
            <mat-card-content>
                <h1>UNREVIEWED ALERT</h1>
                <p>25</p>
            </mat-card-content> 
        </mat-card>
    </div>
    <!-- Include latest visit and latest alert here -->
    <div class="expand-tray">
        <div class="card-tray">
            <mat-card class="my-card">
                <div class="left-card">
                    <mat-card-title class="title">Latest Alert</mat-card-title>
                    <img class="card-image"  height="250px" width="500px" src="../../assets/test.jpg">
                </div>
                <div class="right-card">
                    <mat-card-content>
                        <h3>DATE: 16/06/2020 </h3>
                        <h3>TIME: 10.25.41</h3>
                    </mat-card-content>
                </div>
            </mat-card>
            <mat-card class="my-card">
                <div class="left-card">
                    <mat-card-title class="title">Latest Entry</mat-card-title>
                    <img class="card-image" src="../../assets/andrew.jpg">
                </div>
                <div class="right-card">
                    <mat-card-content>
                        <h3>DATE: 16/06/2020 </h3>
                        <h3>TIME: 11.01.05</h3>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
</div>
