<mat-progress-spinner *ngIf="loadingStatus"></mat-progress-spinner>
<h1 mat-dialog-title>New Resident</h1>
<div mat-dialog-content>
    <mat-horizontal-stepper>
        <mat-step [stepControl]="residentForm">
            <form *ngIf="!loadingStatus" [formGroup]="residentForm"
            (ngSubmit)="submitNewResident()">
                <ng-template matStepLabel>Fill In Resident Detail</ng-template>
                <mat-form-field class="form-component spacing">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput type="text" placeholder="Name">
                </mat-form-field>
                <mat-form-field class="form-component spacing">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="spacing">
                    <mat-label>Icno</mat-label>
                    <input formControlName="icno" matInput type="text" placeholder="IcNo">
                </mat-form-field>
                <mat-form-field class="spacing">
                    <mat-label>Address</mat-label>
                    <input formControlName="address" matInput type="text" placeholder="Address">
                </mat-form-field>
                <mat-form-field class="spacing">
                    <mat-label>Contact</mat-label>
                    <input formControlName="contact" matInput type="text" placeholder="Contact">
                </mat-form-field>
                <mat-form-field class="spacing">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput type="text" placeholder="Username">
                </mat-form-field>
                <mat-form-field class="spacing">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput type="password" placeholder="Password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Living Unit</mat-label>
                    <mat-select  (selectionChange)="getHouseKey()" class="spacing"
                    formControlName="unitcode">
                        <mat-option value="">------</mat-option>
                        <mat-option *ngFor="let house of houses" [value]="house">{{house.unitcode}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Key</mat-label>
                    <mat-select class="spacing" formControlName=key>
                        <mat-option value="">------</mat-option>
                        <mat-option *ngFor="let key of keys" [value]="key">{{key.keyvalue}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="spacing" mat-raised-button matStepperNext type="button">Next</button>
                <button class="spacing" mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
            </form>
        </mat-step>
        <mat-step [stepControl]="imageForm">
            <form [formGroup]="imageForm">
                <ng-template matStepLabel>Upload Face Image for Recognition</ng-template>

                <img *ngIf="imageUrl && imageUrl !== '' " width="300px" height="auto" [src]="imageUrl">

                <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none">

                <button (click)="fileInput.click()" type="button" mat-flat-button>Choose Profile Pictures</button>

                <button class="spacing" mat-raised-button matStepperNext type="button">Next</button>

                <button class="spacing" mat-raised-button matStepperPrevious type="button">Previous</button>

                <button class="spacing" mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <h2>Press Submit to complete resident registration</h2>
            <button mat-raised-button type="button" (click)="submitNewResident()">Submit</button>
            <button mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
        </mat-step>
    </mat-horizontal-stepper>
</div>